.loadingApp {
    position: absolute;
    // inset: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(22, 28, 36);
    z-index: 100;

    &__logoContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 100px;
    }
}
