// /* table size */ /* mobile size */

.p34 {
  font-size: 2.125rem; // /* 2.125rem */ /* 1.5rem */
  line-height: 1;
}

.p30 {
  font-size: 1.875rem; // /* 1.5rem */ /* 1.125rem */
  line-height: 1.067;
}

.p24 {
  font-size: 1.5rem; // /* 1.25rem */ /* 1.125rem */
  line-height: 1.083;
}

.p20 {
  font-size: 1.25rem; // /* 1.125rem */ /* 1.125rem */
  line-height: 1.1;
}

.p18 {
  font-size: 1.125rem; // /* 1rem */ /* 1rem */
  line-height: 1.111;
}

.p16--comp {
  font-size: 1rem;
  line-height: 1.125;
}

.p16 {
  font-size: 1rem;
  line-height: 1.5rem;
}

.p14 {
  font-size: 0.875rem;
  line-height: 1.57143;
}

//
// width
//

.font--width-lite {
  font-weight: lighter; /* 300 */
}

.font--width-normal {
  font-weight: normal; /* 400 */
}

.font--width-bold {
  font-weight: bold; /* 700 */
}

//
// color
//

.font--color-white {
  color: #fff;
}

.font--color-gray {
  color: rgb(145, 158, 171);
}

//
// font
//

.font--family-pro {
  font-family: 'SF-Pro', sans-serif;
}

.font--family-mono {
  font-family: 'SF-Mono', sans-serif;
  letter-spacing: 2px;
}

//
// space
//

.font--space-wrap {
  white-space: normal;
}

.font--space-nowrap {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

//
// horizon
//

.font--horizon-start {
  display: block;
  text-align: start;
}

.font--horizon-center {
  display: block;
  text-align: center;
}

.font--horizon-end {
  display: block;
  text-align: end;
}

//
// transform
//

.font--transform-default {
  text-transform: none;
}

.font--transform-capitalize {
  text-transform: capitalize;
}

.font--transform-uppercase {
  text-transform: uppercase;
}

.font--transform-lowercase {
  text-transform: lowercase;
}

//
// select
//

// .font--select-false {
//     -webkit-user-select: none;
//     -khtml-user-select: none;
//     -moz-user-select: -moz-none;
//     -o-user-select: none;
//     user-select: none;
// }
