.menu {
    z-index: 5;

    position: absolute;
    min-width: 16px;
    min-height: 16px;
    max-width: calc(100% - 32px);
    max-height: calc(100% - 32px);
    width: 200px;
    background-color: rgba(33, 43, 54, 0.9);
    backdrop-filter: blur(4px);
    box-shadow:
        rgba(0, 0, 0, 0.24) 0px 0px 2px 0px,
        rgba(0, 0, 0, 0.24) -20px 20px 40px -4px;
    border-radius: 10px;
    overflow: inherit;

    &__arrow {
        width: 14px;
        height: 14px;
        position: absolute;
        border-bottom-left-radius: 3.5px;
        clip-path: polygon(0% 0%, 100% 100%, 0% 100%);
        border: 1px solid rgba(0, 0, 0, 0.12);
        backdrop-filter: blur(6px);
        background-color: rgba(33, 43, 54, 0.8);
        top: -6.5px;
        transform: rotate(135deg);
        right: 20px;
    }
}
