.popupWrapper {
    min-width: 310px;
    max-width: 500px;
    margin-left: 10px;
    margin-right: 10px;
    min-height: 100px;
    background-color: rgb(33, 43, 54);
    border-radius: 16px;
    padding: 16px;
}
