.boxContainer {
    position: relative;
    display: grid;
    gap: 8px 16px;
    grid-template-columns: minmax(250px, 350px) 1fr;
    width: 100%;
    margin-top: 16px;
    margin-bottom: 16px;

    &__formBlock {
        width: 100%;
        padding: 16px;
        border-radius: 16px;
        background-color: rgb(33, 43, 54);
        margin-top: 16px;
        margin-bottom: 16px;

        &-inner {
            display: grid;
            gap: 8px 16px;
            grid-template-columns: repeat(2, 1fr);
            width: 100%;
            margin-bottom: 8px;
        }

        &-button {
            display: flex;
            justify-content: flex-end;
            width: 100%;
            padding-top: 8px;
        }
    }
}
