.svgCircle {
    display: inline-block;
    width: 16px;
    height: 16px;
    animation: 1.4s linear 0s infinite normal none running animation-rotate;

    &__svg {
        display: block;

        circle {
            stroke: currentcolor;
            stroke-dasharray: 80px, 200px;
            stroke-dashoffset: 0;
            animation: 1.4s ease-in-out 0s infinite normal none running animation-circle;
        }
    }

    @keyframes animation-rotate {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }

    @keyframes animation-circle {
        0% {
            stroke-dasharray: 1px, 200px;
            stroke-dashoffset: 0;
        }
        50% {
            stroke-dasharray: 100px, 200px;
            stroke-dashoffset: -15px;
        }
        100% {
            stroke-dasharray: 100px, 200px;
            stroke-dashoffset: -125px;
        }
    }
}
