.scrollY-container {
    $scroll-size: 10px;

    display: grid;
    //height: 100%;
    grid-template: auto / 1fr $scroll-size;
    overflow: hidden;
    position: relative;

    &__content {
        /* Essential */
        -ms-overflow-style: none;
        overflow: auto;
        scrollbar-width: none;
        /* Presentational */
        //height: calc(100dvh - 20px);

        &::-webkit-scrollbar {
            display: none;
        }
    }

    &__scrollbar {
        display: grid;
        //gap: 1rem;
        grid-auto-flow: row;
        //grid-template: auto 1fr auto / 1fr;
        //padding: 1rem;
        place-items: center;

        &-trackAndThumb {
            display: block;
            height: 100%;
            position: relative;
            width: $scroll-size;

            &-track {
                position: absolute;
                bottom: 0;
                top: 0;
                width: $scroll-size;
                border-radius: 12px;
                background-color: #fff;
                cursor: pointer;
            }

            &-thumb {
                position: absolute;
                width: $scroll-size;
                //mix-blend-mode: overlay;
                background-color: #bbbbbb;
                border-radius: 12px;
            }
        }
    }
}

/*  */
/*  */
/*  */

@media (max-width: 991px) {
    .scrollY-container {
        $scroll-size: 8px;

        grid-template: auto / 1fr $scroll-size;

        &__scrollbar {
            &-trackAndThumb {
                &-track {
                    width: $scroll-size;
                }

                &-thumb {
                    width: $scroll-size;
                }
            }
        }
    }
}
