.popup {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    &__content {
        position: relative;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        background-color: rgb(33, 43, 54);
        border-radius: 16px;
        z-index: 10;
        overflow: hidden;
    }

    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(22, 28, 36, 0.8);
        backdrop-filter: blur(4px);
        z-index: 5;
    }
}
