@font-face {
    font-family: 'SF-Mono';
    src: local('SF-Mono'), url(../../public/fonts/SF-Mono/SF-Mono-Light.otf) format('opentype');
    font-weight: 300; /* Light */
}

@font-face {
    font-family: 'SF-Mono';
    src: local('SF-Mono'), url(../../public/fonts/SF-Mono/SF-Mono-Regular.otf) format('opentype');
    font-weight: 400; /* Regular */
}

@font-face {
    font-family: 'SF-Mono';
    src: local('SF-Mono'), url(../../public/fonts/SF-Mono/SF-Mono-Medium.otf) format('opentype');
    font-weight: 500; /* Medium */
}

@font-face {
    font-family: 'SF-Mono';
    src: local('SF-Mono'), url(../../public/fonts/SF-Mono/SF-Mono-Bold.otf) format('opentype');
    font-weight: 700; /* Bold */
}
