.table {
    position: relative;
    display: table;
    border-collapse: collapse;
    border-spacing: 0px;
    width: 100%;
    min-width: 960px;

    thead {
        display: table-header-group;

        tr {
            color: inherit;
            display: table-row;
            vertical-align: middle;
            outline: 0px;
        }
    }

    tbody {
        display: table-row-group;

        tr {
            display: table-row;
            border-bottom: 1px dashed rgb(46, 50, 54);

            &:hover {
                background-color: rgba(145, 158, 171, 0.08);
            }
        }
    }
}


