.checkbox {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    margin: 0px;
    border-radius: 50%;
    border: 0px;
    background-color: transparent;
    outline: 0px;
    cursor: pointer;

    &__svg-container {
        display: block;
        width: 20px;
        height: 20px;

        &--active {
            color: rgb(7, 141, 238);
        }

        &--inactive {
            color: rgb(145, 158, 171);
        }
    }

    &:hover {
        background-color: rgba(7, 141, 238, 0.08);
    }
}
