.card {
    position: relative;
    display: flex;
    align-items: flex-end;
    width: 100%;
    min-width: 240px;
    max-width: 250px;
    height: 280px;
    background-color: #343434;
    border-radius: 16px;
    border: 1px solid #8a8a9c;
    padding: 12px;
    overflow: hidden;
    cursor: pointer;

    &__img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 1;
        transition: transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    }

    &__blur {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 1;
        z-index: 2;
        background: linear-gradient(0deg, #1e1e25 0%, rgba(30, 30, 37, 0) 100%);
    }

    &__textBlock {
        position: relative;
        z-index: 3;

        & > *:not(:last-child) {
            margin-bottom: 8px;
        }
    }

    &:hover {
        .card__img {
            transform: scale(1.1);
        }
    }
}

.cardContainer {
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(5, 1fr);
}