.button {

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    border: 1px solid rgba(147, 147, 147, 0.2);
    background-color: rgba(91, 91, 91, 0.19);
    user-select: none;
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

    &__title {
        color: #fff;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &__svg {
        display: flex;
        width: 16px;
        height: 16px;
        flex-direction: column;
        justify-content: center;
        color: #fff;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    &:hover {
        background-color: rgba(91, 91, 91, 0.39);
    }
}

//
// size
//

.button--size-small {
    padding: 6px 12px;

    .button__title {
        font-size: 0.875rem;
    }
}

.button--size-medium {
    padding: 8px 14px;

    .button__title {
        font-size: 0.875rem;
    }
}

.button--size-large {
    padding: 10px 16px;

    .button__title {
        font-size: 1rem;
    }
}

//
// color
//

.button--color-default {
    background-color: rgba(91, 91, 91, 0.19);

    &:hover {
        background-color: rgba(91, 91, 91, 0.39);
    }
}

.button--color-green {
    background-color: rgba(132, 189, 86, 0.19);

    &:hover {
        background-color: rgba(132, 189, 86, 0.39);
    }
}

.button--color-red {
    background-color: rgba(237, 27, 53, 0.19);

    &:hover {
        background-color: rgba(237, 27, 53, 0.39);
    }
}
