$thumb-w-desktop: 8px;
$thumb-w-table: 6px;
$thumb-w-phone: 4px;

.scrollY-container {
    position: relative;
    display: grid;
    grid-template: auto / 1fr $thumb-w-desktop;
    height: 100%;
    width: 100%;
    overflow: hidden;

    &__content {
        overflow: auto;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    &__scrollbar {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;

        &-trackAndThumb {
            display: block;
            height: 100%;
            position: relative;
            width: $thumb-w-desktop;

            &-track {
                position: absolute;
                bottom: 0;
                top: 0;
                width: $thumb-w-desktop;
                border-radius: 12px;
                //background-color: #fff;
                cursor: pointer;
            }

            &-thumb {
                position: absolute;
                width: $thumb-w-desktop;
                //mix-blend-mode: overlay;
                background: linear-gradient(to bottom, rgba(34, 34, 34, 0.5), rgba(63, 63, 63, 0.5));
                border-radius: 12px;

                &:hover {
                background: linear-gradient(to bottom, rgba(34, 34, 34, 0.9), rgba(63, 63, 63, 0.9));
                }
            }
        }
    }
}

/*  */
/*  */
/*  */

@media (max-width: 991px) {
    .scrollY-container {
        grid-template: auto / 1fr $thumb-w-table;

        &__scrollbar {
            &-trackAndThumb {
                width: $thumb-w-table;

                &-track {
                    width: $thumb-w-table;
                }

                &-thumb {
                    width: $thumb-w-table;
                }
            }
        }
    }
}

@media (max-width: 720px) {
    .scrollY-container {
        grid-template: auto / 1fr $thumb-w-phone;

        &__scrollbar {
            &-trackAndThumb {
                width: $thumb-w-phone;

                &-track {
                    width: $thumb-w-phone;
                }

                &-thumb {
                    width: $thumb-w-phone;
                }
            }
        }
    }
}
