.desktopSidebar {
    $header-size: 62px;

    &__nav {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: calc(100dvh - $header-size);
        padding: 8px;
        overflow-y: auto;
        overflow-x: hidden;
        transition: padding 350ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    }
}

@media (max-width: 991px) {
    .desktopSidebar {
        &__nav {
            padding: 8px 0;
        }
    }
}
