.sidebarButton {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;

    &__container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        min-height: 44px;
        margin: 0 0 4px;
        background-color: transparent;
        vertical-align: middle;
        border-radius: 8px;
        padding: 4px 8px 4px 12px;
        cursor: pointer;
        transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

        &-svg {
            flex-shrink: 0;
            width: 24px;
            height: 24px;
            margin-right: 16px;
        }

        &-textContainer {
            flex: 1 1 auto;
            min-width: 0px;

            &-text {
                width: 100%;
                max-width: 100%;
                display: block;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                line-height: 1.57143;
                font-size: 0.875rem;
                font-family: 'SF-Pro', sans-serif;
                font-weight: 500;
                text-transform: capitalize;
            }
        }
    }
}

.sidebarButton--active-true {
    .sidebarButton__container {
        background-color: rgba(7, 141, 238, 0.08);
        color: rgb(104, 205, 249);

        &:hover {
            background-color: rgba(7, 141, 238, 0.16);
        }
    }
}

.sidebarButton--active-false {
    .sidebarButton__container {
        background-color: transparent;
        color: rgb(145, 158, 171);

        &:hover {
            background-color: rgba(145, 158, 171, 0.08);
        }
    }
}
