.table {
    position: relative;
    display: table;
    border-collapse: collapse;
    border-spacing: 0px;
    width: 100%;
    min-width: 960px;

    //* head *//

    thead {
        display: table-header-group;

        .theadRow {
            color: inherit;
            display: table-row;
            vertical-align: middle;
            outline: 0px;
            border-bottom: 1px dashed rgb(46, 50, 54);

            .theadCell {
                display: table-cell;
                padding: 16px;
                vertical-align: middle;
                overflow: hidden;
                text-overflow: ellipsis;
                background-color: rgba(145, 158, 171, 0.12);
            }

            .theadCell--checkbox {
                display: table-cell;
                width: 44px;
                min-height: 44px;
                height: 100%;
                padding: 0px 0px 0px 8px;
                vertical-align: middle;
                background-color: rgba(145, 158, 171, 0.12);
            }
        }
    }

    //* body *//
    tbody {
        display: table-row-group;

        .tbodyRow {
            display: table-row;
            border-bottom: 1px dashed rgb(46, 50, 54);

            &:hover {
                background-color: rgba(145, 158, 171, 0.08);
            }

            .tbodyCell {
                display: table-cell;
                padding: 16px;
                vertical-align: middle;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
}
