.error-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100dvh;
    background: rgba(19, 19, 23, 0.87);
    overflow: hidden;
    z-index: 1;

    &__item-1 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-65%);
        width: 675px;
        height: 331px;
        max-width: 100%;
        max-height: 100dvh;
        flex-shrink: 0;
        border-radius: 675px;
        z-index: 1;
    }

    &__item-2 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-65%);
        width: 324px;
        height: 262px;
        max-width: 100%;
        max-height: 100dvh;
        flex-shrink: 0;
        border-radius: 324px;
        z-index: 1;
    }

    &__blur {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100dvh;
        background: rgba(19, 19, 23, 0.87);
        backdrop-filter: blur(100px);
        z-index: 5;
    }

    .error-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        max-width: 600px;
        padding: 5px;
        z-index: 10;

        &__code-error {
            display: inline-flex;
            padding: 8px 16px;
            align-items: flex-start;
            gap: 8px;
            border-radius: 16px;
            margin-bottom: 8px;
            z-index: 15;
            font-family: 'SF-Mono', sans-serif;
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            background-clip: text;
        }

        &__title {
            background-clip: text;
            margin-bottom: 16px;
            z-index: 15;
            font-family: 'SF-Pro', sans-serif;
            font-size: 2.5rem;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: 1.92px;
            text-align: center;
        }

        &__description {
            margin-bottom: 64px;
            z-index: 15;
            font-family: 'SF-Pro', sans-serif;
            color: rgba(255, 255, 255, 0.25);
            text-align: center;
            font-size: 1rem;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }
}

//
//
//

.error-page--403 {
    .error-page__item-1 {
        $bg-color: #ff3f6d;
        background: $bg-color;
    }

    .error-page__item-2 {
        $bg-color: rgba(255, 63, 109, 0.5);
        background: $bg-color;
    }

    .error-container {
        &__code-error {
            $first-bg-color: #7d1b33;
            $second-bg-color: #ff3f6d;
            $border-color: #611427;

            border: 2px solid $border-color;
            background: linear-gradient(90deg, $first-bg-color 0.27%, $second-bg-color 100.27%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        &__title {
            $shadow-color: rgba(255, 255, 255, 0.2);
            $first-bg-color: #feb8c9;
            $second-bg-color: #ffffff;

            background: radial-gradient(56.46% 112.28% at 50% -12.28%, $first-bg-color 0%, $second-bg-color 100%);
            text-shadow: 0px 0px 30px $shadow-color;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}

.error-page--404 {
    .error-page__item-1 {
        $bg-color: rgba(255, 188, 63, 0.5);
        background: $bg-color;
    }

    .error-page__item-2 {
        $bg-color: #ffaf3f;
        background: $bg-color;
    }

    .error-container {
        &__code-error {
            $border-color: #614314;
            $second-bg-color: #ffb93f;
            $first-bg-color: #7d541b;

            border: 2px solid $border-color;
            background: linear-gradient(90deg, $first-bg-color 0.27%, $second-bg-color 100.27%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        &__title {
            $shadow-color: rgba(255, 255, 255, 0.2);
            $first-bg-color: #fef0b8;
            $second-bg-color: #ffffff;

            background: radial-gradient(56.46% 112.28% at 50% -12.28%, $first-bg-color 0%, $second-bg-color 100%);
            text-shadow: 0px 0px 30px $shadow-color;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}

.error-page--500 {
    .error-page__item-1 {
        $bg-color: rgba(108, 63, 255, 0.5);
        background: $bg-color;
    }

    .error-page__item-2 {
        $bg-color: #553fff;
        background: $bg-color;
    }

    .error-container {
        &__code-error {
            $border-color: #1d1461;
            $second-bg-color: #493fff;
            $first-bg-color: #1b1e7d;

            border: 2px solid $border-color;
            background: linear-gradient(90deg, $first-bg-color 0.27%, $second-bg-color 100.27%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        &__title {
            $shadow-color: rgba(255, 255, 255, 0.2);
            $first-bg-color: #c5b8fe;
            $second-bg-color: #ffffff;

            background: radial-gradient(56.46% 112.28% at 50% -12.28%, $first-bg-color 0%, $second-bg-color 100%);
            text-shadow: 0px 0px 30px $shadow-color;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}
