.errorPage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100dvh;
    background: rgba(19, 19, 23, 0.87);
    overflow: hidden;
    z-index: 1;

    &__item_1 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-65%);
        width: 675px;
        height: 331px;
        max-width: 100%;
        max-height: 100dvh;
        flex-shrink: 0;
        border-radius: 675px;
        background: rgba(255, 63, 109, 0.5);
        z-index: 1;
    }

    &__item_2 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-65%);
        width: 324px;
        height: 262px;
        max-width: 100%;
        max-height: 100dvh;
        flex-shrink: 0;
        border-radius: 324px;
        background: #ff3f6d;
        z-index: 1;
    }

    &__blur {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100dvh;
        background: rgba(19, 19, 23, 0.87);
        backdrop-filter: blur(100px);
        z-index: 5;
    }

    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        max-width: 600px;
        padding: 5px;
        z-index: 10;

        &__codeError {
            display: inline-flex;
            padding: 8px 16px;
            align-items: flex-start;
            gap: 8px;
            border-radius: 16px;
            border: 2px solid #611427;
            margin-bottom: 8px;
            z-index: 15;
            /* font */
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            background: linear-gradient(90deg, #7d1b33 0.27%, #ff3f6d 100.27%);
            background-clip: text;

            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        &__title {
            background: radial-gradient(56.46% 112.28% at 50% -12.28%, #feb8c9 0%, #fff 100%);
            background-clip: text;
            margin-bottom: 16px;
            z-index: 15;
            /* font */
            text-shadow: 0px 0px 30px rgba(255, 255, 255, 0.2);
            font-size: 2.5rem;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: 1.92px;
            text-align: center;

            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        &__description {
            margin-bottom: 64px;
            z-index: 15;
            /* font */
            color: rgba(255, 255, 255, 0.25);
            text-align: center;
            font-size: 1rem;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }
}
